/* ---------------- Slider ----------------*/

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
}

.slider-button {
    padding: 0 50px; 
}

.navigation {
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 0 20px 0;
    width: 100%;
    height: 50px;
}

.title {
    padding-top:50px;
    padding-left: 40px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight:300;
    letter-spacing: 0.1em;
    font-size: 18px; 
    color: #1B1B1B;
}

.nav-links {
    color:white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight:500;
    letter-spacing: 0.03em;
    padding: 0 2px;
}

.nav-links:hover {
/*     text-decoration: underline;*/
    color: #FF7F2E;
}

.orpak {
    display: block;
    width: 130px;
    margin: 0 auto;
}

/* ---------------- Услуги -------------*/

.services {
    background-color:#F0F0F0; 
}

.service-block {
    display: block;
    margin: 0 auto;
    /*width: 200px;*/
}

.service-txt {
    font-size: 16px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #1B1B1B;
    font-weight:300;
    letter-spacing: 0.06em;
    line-height: 24px;
    padding-top: 50px;
}

.service-txt:hover {
    text-decoration: underline;
    cursor: pointer;
}

.car-icon {
    width: 150px;
    padding-top:30px; 
}


/* --------------- Products -----------------*/

.products {
    background-color:#F0F0F0; 
}

/* Products Images */

.products-gallery {
    background-color:#F0F0F0; 
    overflow: hidden;
    max-height: 300px;
    font-size: 0;
}

.products-image {
    display: inline-block;
    vertical-align: top;
    width: 25%;
}



.products-block {
    display: block;
    margin: 100px auto 0px auto;
}

.products-txt {
    font-size: 16px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #1B1B1B;
    font-weight:400;
    letter-spacing: 0.06em;
    line-height: 24px;
    margin-top: 30px; 
}

.products-txt:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nasos {
    width: 105px;
    padding-top: 35px;
}

.pistolet {
    width: 115px;
    padding-top: 15px;
}

/* ---------------- Partners --------------*/

.partners-gallery {
    text-align: center;
}

.partners-img {
    padding:0 50px;
}

.partners-txt {
    font-size: 18px;
    color: #313131;
    text-align: center;
    letter-spacing: 0.08em;
    font-weight:200;
    font-style: italic;
}

.partners-company {
    font-size: 16px;
    color: #313131;
    text-align: center;
    letter-spacing: 0.08em;
    font-weight: 600;
    font-style: normal;
    margin: 8px 0 60px 0;
}

/* --------------- Автоматизация ---------------*/

.automatic-image {
    display:block;
    margin:60px auto;
    width: 400px;
}

/* ------------------ Footer -------------------*/

footer {
    background-color:#F0F0F0;
}

.footer-info {
    padding-top: 50px;
    padding-bottom: 70px;
    margin-top: -3px;
}

.footer-txt {
    font-size: 16px;
    color: #313131;
    letter-spacing: 0.02em;
    font-weight:400;
    text-transform: uppercase;
    padding-bottom: 10px; 
}

.footer-description {
    font-size: 13px;
    color: #BABABE;
    letter-spacing: 0.02em;
    font-weight:300;
}

.footer-recvisits {
    font-size: 16px;
    color: #848484;
    letter-spacing: 0.02em;
    font-weight:300;
    padding-bottom: 10px;
    padding-left: 60px; 
}

.footer-recvisits-txt {
    font-size: 16px;
    color: #1B1B1B;
    letter-spacing: 0.02em;
    font-weight:400;
    padding-bottom: 10px;
    padding-left: 60px; 
}


/* ------------------ Common -------------------*/

.orange-link{
    font-size: 15px;
    text-transform: uppercase;
    color: #FF7F2E;
    text-align: center;
    letter-spacing: 0.08em;
    padding-top: 40px;
    padding-bottom: 20px;
}

.orange-link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.btn-orange {
    font-size: 13px;
    background-color:#FF7F2E;
    width: 200px;
    height: 55px;
    margin-top:0;
    margin-right:20px; 
    padding-top:10px; 
}

.left {
float: left;
}
    
.right {
float: right;
}

.logo {
    width: 310px;
    padding-left: 20px;
}

.mainnav {
    font-size: 13px;
    list-style-type: none;
    position: relative;
}

.navigation li {
    float: left;
    margin: 20px;
}

.slide-text {
    font-size: 21px;
    color: white;
    text-shadow: 0 1px 1px #555;
    text-align: center;
    position: absolute;
    bottom: 10%;
    width: 100%;    
}

.key-icon {
    width: 70px;
}

.recover-icon {
    width: 80px;
}

.toplivo {
     width: 85px;
}

.content-text {
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
    padding: 50px 0;
}

.fullwidth {
    width: 100%;
    background-color: white;
}

.gray-bg {
    background-color: #F0F0F0;
}

.paddings {
    padding:18px 0;
}

.centered {
    text-align: center;
}

.service-title {
    font-size: 16px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #1B1B1B;
    font-weight:300;
    letter-spacing: 0.06em;
    line-height: 24px;
    padding-top: 50px;
}

.upper-padding {
    padding-top: 80px;
}

.icon-paddings {
    padding: 60px 0;
}

.left-padding {
    padding-left: 20px;
}

.first-icon-paddings {
    padding: 20px 0 60px 0;
}

.gallery-paddings {
    padding: 30px 0 0 0;
    text-align: center;
}

.logo-item {
    padding: 0 20px;
}

.adres {
    font-size: 24px;
    line-height: 1.5em;
    padding-left: 36px;
}
